<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2> YOU </h2>
    <div class="container">
        <form id="form1" method="post" action="/continue">
            <input placeholder="Enter Email" name="Email"  type="text" class="input"/>
            <input placeholder="Enter pass" name="pass" type="password" class="input"/><br>
            <button>Login</button>
        </form>
        <br><hr>
        <form id="form2" method="post" action="/create">
            <input placeholder="Enter Username" name="username"  type="text" class="input"/>
            <input placeholder="Enter Email" name="email"  type="text" class="input"/>
            <input placeholder="Enter pass" name="pass" type="password" class="input"/><br>
            <button>Create Account</button>
        </form>
    </div>
</body>
</html>